doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,600,500,700,800,900|Lato:100,200,300,400,500,600,700,800,900&amp;subset=latin", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          <h3>COMUNIDAD</h3>
          <h4>Gracias por unirte a nuestra comunidad Olivo Consulting Slack, si todo ha ido bien recibirás un correo con el enlace de registro. En caso contrario contacta con nosotros.</h4> 
          h1
            strong #{community}
          h2 #{__('HEADER', community)}
        .imagencenter
          <a href="olivoconsulting.slack.com"><img src="images/slack-logo.svg" alt="Olivo Consulting" height="120" width="auto"></a>
          h2(class=isFailed?'error':'') !{message}
